*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(229, 239, 245);
}
main{
    overflow-x: hidden!important;

}
.main-container{
    display: grid;
    place-items: center;
    min-height: 80vh;
    text-align: center;
}
.followers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1280px; 
  margin: 0 auto; 
}
.title{
    font-size: 2em;
    text-transform: capitalize;
}
.underline{
    display: block;
    width: 10%;
    height: 5px;
    margin-top: 10px;
    background-color: rgb(101, 210, 253);
}
.person{
    margin-top: 50px;
    width:280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    border: none;
    background-color: white;

}
.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name{
    text-transform: capitalize;
    padding-top: 10px;
}
.profile-btn{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 20px;
    color: rgb(255, 254, 254);
    background-color: rgb(50, 194, 252);
    border-radius: 15px;
    border: none;
}
/* page buttons */
.btn-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.page-btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: rgb(117, 211, 248);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    transition: var(--transition);
}
.active-btn {
    background-color: blue;
    color: white;
  }
  .prev-btn,
  .next-btn {
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  @media screen and (max-width:786px){
    .followers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 40px auto;
    }
    .title{
        margin-top: 20px;
    }
    .person{
        margin-top: 50px;
        width:280px;
        height: 280px;
    
    }
    .image{
        width: 150px;
        height: 150px;
    }
    /* page buttons */
    .btn-container{
    margin: 0px auto;
    flex-wrap: wrap;
    }
  }
  @media screen and (max-width:480px) {
    .main-container{
        display: grid;
        place-items: center;
        width: 350px;
        margin: auto;
    }
    .followers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        justify-content:center;
        column-gap: 10px;
        margin: 0px auto;
        width: 390px;
    }
    .title{
        margin-top: 40px;
    }
    .underline{
        display: block;
        width: 20%;
        height: 5px;
        margin: 10px 30px;
    }
    .person{
        /* margin-top: 50px; */
        width:250px;
        height: 250px;
        margin: 10px auto;
        align-self:center;
    }
    .image{
        width: 120px;
        height: 120px;
    }
    /* page buttons */
    .btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 300px;
    }
    
  }